/* Do not change anything here
    START BASIC STYLE RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a{
    text-decoration: none;
}

a:link, a:hover, 
a:active, a:focus{
    color: #2196f3;
}

/* COLORS TO BE USED FOR CONTRAST/ BUTTONS / LINKS */

/* 
Header Gradient (mix of #2196F3 and #512DAB)
Footer #757575 
Outrageous Orange #FF5722 --- accent color, and dark orange for error or warning messages 
Daisy Bush #512DA8 --- links and buttons 
 */


/* Do not change anything here
  END  BASIC STYLE RESET
*/

/* START BASIC STYLES */

body{
    background-color: #F5F5F5;
    line-height: 1.5;
    font-family: Helvetica, sans-serif;
    color: #212121;
}

/* logo-font{font-family: 'Roboto', sans-serif}; */

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

p, span {
    font-family:Helvetica, sans-serif;
    font-size: 1rem;
}

h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.3rem;
}


/* END BASIC STYLES */


/* *********** CSS for HOME ****************/

/* *********** CSS for About ****************/

/* *********** CSS for  Course Information ****************/

/* *********** CSS for How to Apply ****************/

/* *********** CSS for Employment Opportunities ****************/

/* *********** CSS for FAQ ****************/


/* *********** CSS for Contact ****************/

.contact-h1{
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    background-color: #512DA8;
    color: #fff;
    border-radius: 5px;
    width: 100%;
}
.contact-form{
    padding: 2rem;
}
.contact-form input,
.contact-form textarea{
    margin: .5rem 0 1rem 0;
    font-size: 1.2rem;
    height: 2.2rem;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 15px;
    transition: 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus{
    outline: 2px solid #512DA8;
}

.contact-form textarea{
    height: 6rem;
}

.submit-btn{
    align-self: flex-end;
    
}
input.form-btn {
    height: 70px;
    background-color: #FF5722;
    color: #Fff;
    padding: 1.2rem 3rem;
    font-size: 1.5rem;
    margin: 1rem;
    border: none; 
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    
}

.form-btn:hover{
    outline: 2px solid #FF5722;
    background-color: #F5F5F5;
    color: #212121;
    transition: 0.4s;
}

.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 1rem 1rem 0 1rem ;
}

.contact-info img{
    margin: 1rem 0;
    height: auto;
    width: 100%;
}

.contact-map{
    height: 50vh;
    width: 100%;
    padding: 1rem 2rem;
}


/* *********** CSS for Entry Requirements ****************/


/* *********** CSS for Certifications ****************/




/* ------->>>>>>   MEDIA QUERIES   <<<<<-------- */


/* Start Tablet */

@media screen and (min-width: 768px){
/* CSS for Contact */
.content-display {
   display: flex;
}
.form-container{
    min-width: 50%;
}
.contact-map{
    height: 70vh;
    padding: 8rem ;
}
.contact-info img{
    height: auto;
    width: 100%;
    object-fit: cover;
}
}

/* End Tablet */


/* Start Desktop */

@media screen and (min-width:1366px){ 
    /* CSS for Contact */
}

/* End Desktop */

/* End MEDIA QUERIES */







